<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <!-- <a class="navbar-brand" href="{{url_for('Sign_In')}}">Home</a> -->
    <a class="navbar-brand" href="{{url_for('Sign_In')}}">Sign In</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> 
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item">
          <a class="nav-link" href="{{url_for('user',name='Bob', surname='Dimitri')}}">User Profile</a>
        </li> -->

        <!-- <button type="button" class="btn btn-outline-success">Success</button> -->
        <!-- <a href="{{url_for('Sign_In')}}" type="button" class="btn btn-outline-primary">Sign In</a>
       -->
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('view_user')}}" >View Users
              <span class="badge badge-primary" id="row-badge">{{num_rows }}</span>
          </a>
      </li>
      </ul>
      
    
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>





  <!-- <span class="badge badge-primary">{{ num_rows }}</span>   -->